// SASS VARIABLES
$BP-largest: 75em;      //1200px
$BP-large: 68.75em;      //1100px
$BP-medium: 56.25em;      //900px
$BP-small: 37.5em;      //600px
$BP-smallest: 31.25em;      //500px

:root{
    --color-primary: #32b3d1;
    --color-primary-light: #3ddbff;
    --color-primary-dark: #2e98b0;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --line: 1px solid var(--color-grey-light-2);

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3); 
    --shadow-light: 0 2rem 6rem rgba(0,0,0, .06); 
}

*{
    margin: 0;
    padding: 0%;
}

*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;       //1rem = 10px;  10px/16px   = 62.5%

    @media only screen and (max-width: $BP-largest){
        font-size: 56.25%;
    }

    @media only screen and (max-width: $BP-large){
        font-size: 50%;
    }
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image:linear-gradient(rgba(#3ddbff, .8), rgba(#2e98b0, .8)), url(../img/back.jpg);
    background-size: cover;
}

